<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Busca CEP</title>

        <!--link o css-->

        <!--link o jquery-->
       
        <!--link my_javascrip-->
    </head>

    <body>
        <header>

        </header>

        <nav>
                <menu>
                    <ul>
                        <!--colocar o caminho das outras páginas-->
                        <li><a >Home</a></li>
                        <li><a >Formulário</a></li>
                        <li><a >Busca Cep</a></li>
                        <li><a >Sobre</a></li>
                    </ul>
                </menu>
            </nav>

        <main>
            <article id="conteudo">
                <section id="form">
                    <h1> Formulário </h1>
                    <hr>
                    <form>
                        <label for="cep">CEP:(*)</label> <br>
                        <input type="number" id="cep" name="cep" autofocus>

                        <label for="uf">UF:</label> <br>
                        <input type="text" id="uf" name="uf" readonly>

                        <label for="cidade">Cidade:</label>
                        <input type="text" id="cidade" name="cidade" readonly>

                        <label for="bairro">Bairro:</label> <br>
                        <input type="text" id="bairro" name="bairro" readonly>

                        <label for="rua">Rua:</label> <br>
                        <input type="text" id="rua" name="rua" readonly>

                        <label for="numero">Número:</label> <br>
                        <input type="number" id="numero" name="numero">
                    </form>
                </section>
            </article>
        </main>
    </body>

</html>