<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Principal</title>

        <!--link o css-->

    </head>

    <body>
        <header>

        </header>

        <nav>
            <menu>
                <ul>
                    <!--colocar o caminho das outras páginas-->
                    <li><a >Home</a></li>
                    <li><a >Formulário</a></li>
                    <li><a >Busca Cep</a></li>
                    <li><a >Sobre</a></li>
                </ul>
            </menu>
        </nav>

        <main>
            <article id="conteudo">
                <h1>Bem vindo</h1>
            </article>
        </main>
    </body>

</html>