<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre</title>

    <!--link o css-->
</head>
<body>
    <header>

    </header>

    <nav>
            <menu>
                <ul>
                    <!--colocar o caminho das outras páginas-->
                    <li><a >Home</a></li>
                    <li><a >Formulário</a></li>
                    <li><a >Busca Cep</a></li>
                    <li><a >Sobre</a></li>
                </ul>
            </menu>
        </nav>

    <main>
        <article id="conteudo">
            <section>
                <h1> Sobre </h1>
                <div id="img">
                    <img src="" alt="">
                </div>
                <p>Lorem ipsum accumsan vulputate magna etiam nulla condimentum adipiscing, 
                    lectus sapien iaculis quisque cras ornare et viverra, vel metus interdum
                    adipiscing ante condimentum leo. et fusce in non in senectus etiam, 
                    quisque conubia litora quis massa cursus, gravida justo nibh conubia vel. 
                    neque aenean integer viverra habitant fermentum ligula sed mollis taciti 
                    facilisis nullam blandit duis in commodo, faucibus pulvinar augue volutpat
                    ringilla sagittis nostra blandit himenaeos augue risus fames ultrices. 
                    rhoncus volutpat etiam eleifend lorem eget sagittis viverra aliquam facilisis
                    erat commodo ultricies, senectus curae sem rutrum pretium ut aptent ac imperdiet 
                    posuere diam, phasellus venenatis sem morbi nunc nulla cursus nullam vitae velit vulputate.
                </p>
                <p>Lorem ipsum accumsan vulputate magna etiam nulla condimentum adipiscing, 
                    lectus sapien iaculis quisque cras ornare et viverra, vel metus interdum
                    adipiscing ante condimentum leo. et fusce in non in senectus etiam, 
                    quisque conubia litora quis massa cursus, gravida justo nibh conubia vel. 
                    neque aenean integer viverra habitant fermentum ligula sed mollis taciti 
                    facilisis nullam blandit duis in commodo, faucibus pulvinar augue volutpat
                    ringilla sagittis nostra blandit himenaeos augue risus fames ultrices. 
                    rhoncus volutpat etiam eleifend lorem eget sagittis viverra aliquam facilisis
                    erat commodo ultricies, senectus curae sem rutrum pretium ut aptent ac imperdiet 
                    posuere diam, phasellus venenatis sem morbi nunc nulla cursus nullam vitae velit vulputate.
                </p>
            </section>
        </article>
    </main>
</body>
</html>