<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Busca CEP</title>

    <link rel="stylesheet" href="../public/css/css.css">

    <script 
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    
    <script src="../public/js/ajax.js"></script>
    <script src="../public/js/validaForm.js"></script>
    <script src="../public/js/buscaCep.js"></script>
</head>
<body>
    <header>

    </header>

    <nav>
        <menu>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a id="formulario" href="#">Formulário</a></li>
                <li><a href="buscaCep.html">Busca Cep</a></li>
                <li><a id="sobre" href="#">Sobre</a></li>
            </ul>
        </menu>
    </nav>

    <main>
        <article id="conteudo">
            <section id="form">
                <h1> Formulário </h1>
                <hr>
                <form>
                    <label for="cep">CEP:(*)</label> <br>
                    <input type="number" id="cep" name="cep" autofocus> 
            
                    <label for="uf">UF:</label> <br>
                    <input type="text" id="uf" name="uf" readonly>
            
                    <label for="cidade">Cidade:</label> 
                    <input type="text" id="cidade" name="cidade" readonly>
            
                    <label for="bairro">Bairro:</label> <br>
                    <input type="text" id="bairro" name="bairro" readonly> 
            
                    <label for="rua">Rua:</label> <br>
                    <input type="text" id="rua" name="rua" readonly> 
            
                    <label for="numero">Número:</label> 
                    <input type="number" id="numero" name="numero"> 
                </form>
            </section>
        </article>
    </main>
</body>
</html>